body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(231, 220, 220);
}
h1{
    text-align: center;
    color: rgb(139, 160, 222);
}


.calculator {
    background-color: black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

#display {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 10px;
    font-size: 18px;
    background-color: orangered;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(173, 27, 27);
}
